#contact iframe{
    width:100%;
}
#contact h3{
    display: inline;
font-family: 'Raleway', sans-serif;
}
#menu {
    position:fixed;
    margin-top: 0px;
    width: 100%;
    top:0;
}
#games{
    background-color: darkviolet;
}
.carousel-content{
    font-size: 20px;
    color: white;
}
#book review img {
    height: 300px;
    width:400px;
}